.mainBody2{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-gap: 0.5em;
	padding: 1em;

}

.mainBody2 img {
    max-width: 100%;
    height: auto;
    width: auto\5; /* ie8 */
    cursor: pointer;
    
}

.mainBody2 h4{
	color: black;
	text-align: left;
	padding-left: 10px;

}
hr { 
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-style: inset;
  border-width: 2px;
  color: black;
} 

.mainBody2 a{
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 1em;
}
.imgBorder {
	border: solid 1px black;
}

.bottomImg {
	display: flex;
	justify-content: space-between;
}