.mainBody {
	/*display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-auto-rows: minmax(300px,auto);
	grid-gap: 1em;
	border: solid;*/
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.tshirtImg {
	width: 200px;
	height: auto;
	overflow: hidden;
	align-items: center;
}

.tshirtImg div {
	align-items: center;
}
.tshirtImg img {
	height: auto;
	max-width: 100%;
	width: auto\5;
	cursor: pointer;
}